<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giải trí</title>
    <link rel="stylesheet" href="./styles.css">

    <!--GOOGLE_GTAG_PLACEHOLDER-->

<!--TIKTOK_PIXEL_PLACEHOLDER-->

<!--META_PIXEL_PLACEHOLDER-->
</head>

<body class="<!--BODY_CLASS_PLACEHOLDER-->">
    <div class="main-container">
        <div class="app">
            <div class="title">
                <img src="./images/title.webp" alt="" loading="lazy">
            </div>
            <div class="btn">
                <a id="main-action-button" href="<!--BUTTON_HREF_PLACEHOLDER-->" target="_blank" onclick="gtag('event', 'button_click'); fbq('track', 'Contact'); ttq.track('Contact');">
                    <img src="./images/btn.webp" alt="" loading="lazy">
                </a>
            </div>
        </div>
        <!--CONTACT_INFO_PLACEHOLDER-->
    </div>
</body>

</html>
